body {
    margin:5px;
    margin-bottom:2px;
    height: 400px;
    width: 480px;
    z-index:0;
    font-family: Verdana, sans-serif;
}

header {
    color: #F5DF4D;
    height: 50px;
    margin: 0px;
}

#tab_counter {
    margin-top: 10px;
}

#separator {
    width: 120px;
    padding-top: 2px;
    border-bottom: 3px solid #F5DF4D;
}

#carbon_counter {
    margin: 0px;
    color: #939597
}

main {
    position:relative;
    margin: 0px 8px 0px 8px;
    padding: 0px;
    height: 350px;
    width: calc(100% - 16px);
}

#details {
    position:absolute;
    margin: 0px;
    margin-bottom: 4px;
    padding: 8px 15px 15px 15px;
    width: calc(100% - 30px);
    height: calc(100% - 105px);
    color: white;
    background-color: #939597; 
    filter: blur(3px) brightness(70%);
    z-index:10;
}

#button_layer {
    position:absolute;
    z-index:20;
    top: 45%;
    left: 50%;

    width: 350px;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#suggestion {
    position:absolute;
    top: 275px;
    height: 68px;
    width: 100%;
    margin: 0px;
    background-color: #939597;
}

.header {
    margin: 8px 8px 3px 8px;
}

h2 {
    margin-bottom : 0px
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2
}

.triple-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 3
}


.detail_info {
    margin: 4px 4px 4px 4px;
}

.power_info {
    font-size : 14px;
    margin-top : 2px;
    margin-bottom : 2px;
}


#power_chart {
    margin: 15px 4px 4px 4px;
}

.right_column {
    text-align: right;
    margin-right: 4px;
}

#stop_start_btn {
    padding: 0px;
    font-size: 14px;
    height: 25px;
    width: 50px;
    outline: none;
}

#pause_start_btn {
    padding: 0px;
    font-size: 14px;
    height: 25px;
    width: 70px;
    outline: none;
}

#start_monitor {
    color: #F5DF4D;
    position: static;
    width: 190px;
    left: calc(50% - 95px);
    margin-bottom: 8px;
}

.monitor-options {
    position: static;
    color: white
}

#monitor_timer{
    text-align: right;
    height:15px;
    margin: 0px;
    margin-top: 6px;
    margin-right: 6px;
    color: white;
}

.help_icon {
    position: absolute;
    top: 3px;

    background: url('lib/help_white_18dp.svg');
    background-size: 15px;
    height: 15px;
    width: 15px;
    display: block;
    /* Other styles here */
}

.info_icon {
    position: absolute;
    background: url('lib/info_white_18dp.svg');
    background-size: 14px;
    height: 14px;
    width: 14px;
    /* Other styles here */
}

/*tooltip*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    text-align: left;
    font-size: 11px;
    color: #fff;

    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -150px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext_narrow {
    width: 120px;
    margin-left: -60px;
}

.tooltip .tooltiptext_medium {
    width: 300px;
    margin-left: -300px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: " ";
    position: absolute;
    bottom: 100%;
    left: 48%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color:  transparent transparent #555 transparent;
}

.tooltip .tooltiptext_medium::after {
    left: 95%;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.suggestion_title {
    background-color: #F5DF4D;
    color:white;
    padding: 4px;
    font-size: 15px;
    font-weight: 700;
}

.suggestion_detail{
    padding: 4px 6px 4px 6px;
}

.bttn-bordered {
    color:#F5DF4D;
}

input:checked {
    /* change later */
    color: #F5DF4D;
}

.suggestion_text {
    color: white;
    position:absolute;
    height:60px;
    overflow-y: auto;
}

.suggestion_cover {
    position:absolute;

    top: 50%;
    left: 62.5%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.line {
    margin: 8px;
    background-color: rgb(185, 185, 185);
    color:rgb(238, 238, 238);
    font-size: 17px;
    padding-left: 8px;
    width: 310px;
    text-align: left;
}

.edit_hover {
    cursor: text;
}