# SPECIFIC DIRECTORIES:
native_app/**/LOGS
native_app/**/LOGS/dev

# FILE TYPES:
*.csv
*.txt

# COMPILED SOURCE:
*.com
*.class
*.dll
*.o
*.so

# java project file
.classpath
.metadata
.project
.recommenders
.settings
