<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/intelcpu/0/load/1/plot" value="false" />
    <add key="/intelcpu/0/load/2/plot" value="false" />
    <add key="/intelcpu/0/load/3/plot" value="false" />
    <add key="/intelcpu/0/load/4/plot" value="false" />
    <add key="/intelcpu/0/load/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/0/plot" value="false" />
    <add key="/intelcpu/0/temperature/1/plot" value="false" />
    <add key="/intelcpu/0/temperature/2/plot" value="false" />
    <add key="/intelcpu/0/temperature/3/plot" value="false" />
    <add key="/intelcpu/0/temperature/4/plot" value="false" />
    <add key="/intelcpu/0/clock/1/plot" value="false" />
    <add key="/intelcpu/0/clock/2/plot" value="false" />
    <add key="/intelcpu/0/clock/3/plot" value="false" />
    <add key="/intelcpu/0/clock/4/plot" value="false" />
    <add key="/intelcpu/0/power/0/plot" value="false" />
    <add key="/intelcpu/0/power/1/plot" value="false" />
    <add key="/intelcpu/0/power/2/plot" value="false" />
    <add key="/intelcpu/0/power/3/plot" value="false" />
    <add key="/intelcpu/0/clock/0/plot" value="false" />
    <add key="/ram/load/0/plot" value="false" />
    <add key="/ram/data/0/plot" value="false" />
    <add key="/ram/data/1/plot" value="false" />
    <add key="/nvidiagpu/0/temperature/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/0/plot" value="false" />
    <add key="/nvidiagpu/0/clock/1/plot" value="false" />
    <add key="/nvidiagpu/0/clock/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/0/plot" value="false" />
    <add key="/nvidiagpu/0/load/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/2/plot" value="false" />
    <add key="/nvidiagpu/0/load/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/3/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/2/plot" value="false" />
    <add key="/nvidiagpu/0/smalldata/1/plot" value="false" />
    <add key="/nvidiagpu/0/load/4/plot" value="false" />
    <add key="/hdd/0/temperature/0/plot" value="false" />
    <add key="/hdd/0/load/0/plot" value="false" />
    <add key="/hdd/1/temperature/0/plot" value="false" />
    <add key="/hdd/1/load/0/plot" value="false" />
    <add key="mainForm.Location.X" value="1157" />
    <add key="mainForm.Location.Y" value="50" />
    <add key="mainForm.Width" value="598" />
    <add key="mainForm.Height" value="960" />
    <add key="TemperatureUnit" value="1" />
    <add key="/hdd/0/load/0/values" value="H4sIAAAAAAAEADM1Yvfay3vTg4HhwH8AXCNXuQwAAAA=" />
    <add key="/hdd/0/temperature/0/values" value="H4sIAAAAAAAEAMt6wua1l/emBwPDgf8A56+Q/wwAAAA=" />
    <add key="/hdd/1/load/0/values" value="H4sIAAAAAAAEAPun4em1l/emBwPDgf8AHvRLVAwAAAA=" />
    <add key="/hdd/1/temperature/0/values" value="H4sIAAAAAAAEAPun4em1l/emBwPDgf8AHvRLVAwAAAA=" />
    <add key="/nvidiagpu/0/temperature/0/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf+bgpcyMoCBhqP7rRQmBihYXnySBcYGAFN/rr8wAAAA" />
    <add key="/nvidiagpu/0/control/0/values" value="" />
    <add key="/nvidiagpu/0/smalldata/3/values" value="H4sIAAAAAAAEAJs4cbrnXt6bHgwMB/4zP1zKyAAGB1zLXuqyw9gAJwTelSQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/2/values" value="H4sIAAAAAAAEAJs4cbrnXt6bHgwMB/4zP1zKyAAGO5zKXuqyw9gAUckZSCQAAAA=" />
    <add key="/nvidiagpu/0/smalldata/1/values" value="H4sIAAAAAAAEAJs4cbrnXt6bHgwMB/4zP1zKyAACCntdy17qssPYAPy4UuIkAAAA" />
    <add key="/nvidiagpu/0/load/4/values" value="H4sIAAAAAAAEAJs4cbrnXt6bHgwMB/4zP1zKyAAEq1ftty97qcsOYwMAmKwoTyQAAAA=" />
    <add key="/nvidiagpu/0/load/3/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/load/2/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/load/1/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/load/0/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/clock/2/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/clock/1/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/clock/0/values" value="H4sIAAAAAAAEAGvLmu65l/emBwPDgf8ABSB8gAwAAAA=" />
    <add key="/nvidiagpu/0/fan/0/values" value="" />
    <add key="/ram/data/1/values" value="H4sIAAAAAAAEAMvhVfXcy3vTg4HhwP9EyY1MDEDA/oDNkXFaKph97SCbY+rfBDD79w9Wx2l/0sFs6WwWRwBPZMQGPAAAAA==" />
    <add key="/ram/data/0/values" value="H4sIAAAAAAAEACt4puK5l/emBwPDgf+xDhuZGIDAiPOdA+O0VDB7ius7h9S/CWC21/X3DtP+pIPZXJ8/OQAAefLqNjwAAAA=" />
    <add key="/ram/load/0/values" value="H4sIAAAAAAAEAJs4Q8VzL+9NDwaGA/9t+jYyMQCBY5O1E+O0VDD74kZrp9S/CWC20zsbp2l/0sFsyUR7JwBDGDoOPAAAAA==" />
    <add key="/intelcpu/0/power/3/values" value="H4sIAAAAAAAEAIv6KOG5l/emBwPDgf/3zigzMQCBv5qBvfutFDCb+5WvfcqTZDA7b5G7vXN/Kpi963+QPQBRsvxnPAAAAA==" />
    <add key="/intelcpu/0/power/2/values" value="H4sIAAAAAAAEAItYJOG5l/emBwPDgf8PpFWYGIDgWsAnO/dbKWC2S+Avu5QnyWB2bVSTnXN/Kpjt85PBHgAk1L7mPAAAAA==" />
    <add key="/intelcpu/0/power/1/values" value="H4sIAAAAAAAEAEuqlvDcy3vTg4HhwP9rTipMDEBwY1GZg/utFDBbmYfJMeVJMpj9uPiCg3N/Kpg9xafcAQDDJFrHPAAAAA==" />
    <add key="/intelcpu/0/power/0/values" value="H4sIAAAAAAAEAMsOkfDcy3vTg4HhwP+zmSpMDEBQ8M3b0f1WCpitr9XmmPIkGcx+F/jJwbk/FcxeaLncAQAY7QyRPAAAAA==" />
    <add key="/intelcpu/0/clock/4/values" value="H4sIAAAAAAAEACvTlfDcy3vTg4HhwP9DE1SYGIAgoVPF1f1WCpi9sZTbNeVJMpidHszh6tyfCmavj13jAgBdIUIxPAAAAA==" />
    <add key="/intelcpu/0/clock/3/values" value="H4sIAAAAAAAEAGtgk/Dcy3vTg4HhwP96dyUmBiAI+qDrKvUyBczO8BZ2DXqfDGanB3O48vengtnf84+6AACbxglOPAAAAA==" />
    <add key="/intelcpu/0/clock/2/values" value="H4sIAAAAAAAEAOu5L+65l/emBwPDgf//ZBSYGIBgsZCh69sHKWC2yyYZ1xN/ksHs9GAOV//KVDA7VXu/CwDVDahZPAAAAA==" />
    <add key="/intelcpu/0/clock/1/values" value="H4sIAAAAAAAEAJu2Q9xzL+9NDwaGA/+XPZRlYgCCoA+6rpefpYDZPWe0XNP+JoPZ6cEcrpPiU8FsqZfpLgAezRCHPAAAAA==" />
    <add key="/intelcpu/0/clock/0/values" value="H4sIAAAAAAAEAFs4UdxzL+9NDwaGA/+n66gyMQDBssknnNxvpYDZTpNOOKU8SQaz7YFs5/5UMNsByAYAscWRrzwAAAA=" />
    <add key="/intelcpu/0/temperature/4/values" value="H4sIAAAAAAAEAFuTJe65l/emBwPDgf/ql2WZGMDAy0lBJhnK9nVa8ArGdnR66pkKZds4AQB2ltzXPAAAAA==" />
    <add key="/intelcpu/0/temperature/3/values" value="H4sIAAAAAAAEANvmLO65l/emBwPDgf+yv2SZGMDA1UlBJhnKdnf6eATGNnaakp8KZZs6AQDonP9DPAAAAA==" />
    <add key="/intelcpu/0/temperature/2/values" value="H4sIAAAAAAAEADsoI+65l/emBwPDgf95P2WZGMDA0umIczKUbez08QiMre80JT8VyjZ1AgA39ZBsPAAAAA==" />
    <add key="/intelcpu/0/temperature/1/values" value="H4sIAAAAAAAEADvzVcxzL+9NDwaGA/+TFeSYGMDAzOmIczKUbeL08QiMbes0JT8VyjZ3AgBE4FVTPAAAAA==" />
    <add key="/intelcpu/0/temperature/0/values" value="H4sIAAAAAAAEALt1TsxzL+9NDwaGA/9D3eWYGMDAxumIczKUbe708QiMbeA0JT8VyjZxAgAB0CabPAAAAA==" />
    <add key="/intelcpu/0/load/4/values" value="H4sIAAAAAAAEAMt1FvLcy3vTg4HhwP9Dl5SYGIBg4nd5xyPOyWD2DctJjh+PQNgMCt6OU/JTwWzfnDMOABtCBdk8AAAA" />
    <add key="/intelcpu/0/load/3/values" value="H4sIAAAAAAAEACuVEfLcy3vTg4HhwP9dP5WYGIDA4pGzwxHnZDA7Kd3Q8eMRCJvhgZDjlPxUMLvykasDAPY17aw8AAAA" />
    <add key="/intelcpu/0/load/2/values" value="H4sIAAAAAAAEAKv/Kui5l/emBwPDgf8bFJSZGIDg9PKTDkeck8HsG54mjh+PQNgMD2Idp+SngtkJy/86AADIXyjyPAAAAA==" />
    <add key="/intelcpu/0/load/1/values" value="H4sIAAAAAAAEAOs9J+i5l/emBwPDgf+L3JWZGIBgkWeL4xHnZDA76bmK48cjEDbDAxfHKfmpYLYE838HANDr0sc8AAAA" />
    <add key="/intelcpu/0/load/0/values" value="H4sIAAAAAAAEAHvUIOi5l/emBwPDgf++U5WZGIDg6lR+xyPOyWC28GFvx49HIGwGAwfHKfmpYPY/xtMOAGyLhnU8AAAA" />
    <add key="plotPanel.MinTimeSpan" value="0" />
    <add key="plotPanel.MaxTimeSpan" value="600" />
    <add key="plotPanel.MinVoltage" value="NaN" />
    <add key="plotPanel.MaxVoltage" value="NaN" />
    <add key="plotPanel.MinClock" value="NaN" />
    <add key="plotPanel.MaxClock" value="NaN" />
    <add key="plotPanel.MinTemperature" value="NaN" />
    <add key="plotPanel.MaxTemperature" value="NaN" />
    <add key="plotPanel.MinLoad" value="NaN" />
    <add key="plotPanel.MaxLoad" value="NaN" />
    <add key="plotPanel.MinFan" value="NaN" />
    <add key="plotPanel.MaxFan" value="NaN" />
    <add key="plotPanel.MinFlow" value="NaN" />
    <add key="plotPanel.MaxFlow" value="NaN" />
    <add key="plotPanel.MinControl" value="NaN" />
    <add key="plotPanel.MaxControl" value="NaN" />
    <add key="plotPanel.MinLevel" value="NaN" />
    <add key="plotPanel.MaxLevel" value="NaN" />
    <add key="plotPanel.MinFactor" value="NaN" />
    <add key="plotPanel.MaxFactor" value="NaN" />
    <add key="plotPanel.MinPower" value="NaN" />
    <add key="plotPanel.MaxPower" value="NaN" />
    <add key="plotPanel.MinData" value="NaN" />
    <add key="plotPanel.MaxData" value="NaN" />
    <add key="plotPanel.MinSmallData" value="NaN" />
    <add key="plotPanel.MaxSmallData" value="NaN" />
    <add key="plotPanel.MinThroughput" value="NaN" />
    <add key="plotPanel.MaxThroughput" value="NaN" />
    <add key="treeView.Columns.Sensor.Width" value="312" />
    <add key="treeView.Columns.Value.Width" value="125" />
    <add key="treeView.Columns.Min.Width" value="125" />
    <add key="treeView.Columns.Max.Width" value="125" />
    <add key="listenerPort" value="8085" />
  </appSettings>
</configuration>